<!DOCTYPE html>
<html>
    <head>
       {{>header}}
    </head>
     <body>
       {{>navbar}}
       <div class="container">
         <a href="http://localhost:5000/addsong" class="btn btn-success btn-sm pull-right mb-2" style=""><i class="fa fa-plus"></i> Add Song</a>
         <div class="table-responsive-sm">          
          <table class="table table-bordered table-hover">
            <thead class="thead-dark">
             <tr> 
               <th>artwork</th>
               <th>Song</th>
               <th>Date of Release</th>
               <th>Artist</th>
               <th>Rate</th>
             </tr>
           </thead>
           <tbody>
             <tr>
               <td><img src="https://static.india.com/wp-content/uploads/2018/09/Yo-Yo-Honey-Singh-1.jpg?impolicy=Medium_Resize&w=1200&h=800" class="rounded-circle" alt="Cinque Terre" width="100" height="100"> </td>
               <td>Anna</td>
               <td>Pitt</td>
               <td>35</td>
               <td>100</td>
             </tr>
           </tbody>
         </table>
         <table class="table table-bordered table-hover">
            <thead class="thead-dark">
             <tr>
               <th>Artist</th>
               <th>DOB</th>
               <th>Songs</th>
              
             </tr>
           </thead>
           <tbody>
             <tr>
               <td>Honey sing</td>
               <td>03-08-2022</td>
               <td>First kiss, Yo yo honey sing, desi kalakar,Makhana, Bomb lagati menu</td>
             </tr>
           </tbody>
         </table>
       </div>
      </div>
    </body>
</html>