<!DOCTYPE html>
<html>
    <head>
        {{>header}}
    </head>
    <body>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
          <a class="navbar-brand" href="#">Music App</a>
        </nav>
    </body>
</html>